{#
/**
 * @file
 * Default theme implementation for printer friendly version of entities.
 *
 * Available variables:
 * - title: Top level node title.
 * - base_url: URL to the home page.
 *
 * @see template_preprocess_sandbox_export()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    .node_view ul li {
      display: none;
    }
  </style>

  {% if paper_css %}
    <link type="text/css" rel="stylesheet" href="{{ paper_css }}"/>
  {% endif %}

  {% if pdf_css %}
    <link type="text/css" rel="stylesheet" href="{{ pdf_css }}"/>
  {% endif %}

</head>
<body class="A4">

<section class="sheet padding-10mm">

  {{ header }}
  {{ content }}
  {{ footer }}
</section>

</body>
</html>
